<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netsdar.hospital.dao.YYZhengshuMapper" >
  <resultMap id="BaseResultMap" type="com.netsdar.hospital.entity.YYZhengshu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="peixunmingcheng" property="peixunmingcheng" jdbcType="VARCHAR" />
    <result column="peixunkaishishijian" property="peixunkaishishijian" jdbcType="DATE" />
    <result column="peixunkaishishijianstr" property="peixunkaishishijianstr" jdbcType="VARCHAR" />
    <result column="peixunjieshushijian" property="peixunjieshushijian" jdbcType="DATE" />
    <result column="peixunjieshushijianstr" property="peixunjieshushijianstr" jdbcType="VARCHAR" />
    <result column="neirongjianjie" property="neirongjianjie" jdbcType="VARCHAR" />
    <result column="zhengshulujing" property="zhengshulujing" jdbcType="VARCHAR" />
    <result column="zuihoucaozuoyonghu" property="zuihoucaozuoyonghu" jdbcType="VARCHAR" />
    <result column="zuihoucaozuoshijian" property="zuihoucaozuoshijian" jdbcType="DATE" />
    <result column="zuihoucaozuoshijianstr" property="zuihoucaozuoshijianstr" jdbcType="VARCHAR" />
    <result column="zhengshutemp1" property="zhengshutemp1" jdbcType="VARCHAR" />
    <result column="zhengshutemp2" property="zhengshutemp2" jdbcType="VARCHAR" />
    <result column="zhengshutemp3" property="zhengshutemp3" jdbcType="VARCHAR" />
    <result column="zhengshutemp4" property="zhengshutemp4" jdbcType="VARCHAR" />
    <result column="zhengshutemp5" property="zhengshutemp5" jdbcType="VARCHAR" />
    <result column="zhengshutemp6" property="zhengshutemp6" jdbcType="VARCHAR" />
    <result column="zhengshutemp7" property="zhengshutemp7" jdbcType="VARCHAR" />
    <result column="zhengshutemp8" property="zhengshutemp8" jdbcType="VARCHAR" />
    <result column="zhengshutemp9" property="zhengshutemp9" jdbcType="VARCHAR" />
    <result column="zhengshutemp10" property="zhengshutemp10" jdbcType="VARCHAR" />
    <result column="zhengshutemp11" property="zhengshutemp11" jdbcType="DATE" />
    <result column="zhengshutemp12" property="zhengshutemp12" jdbcType="DATE" />
    <result column="zhengshutemp13" property="zhengshutemp13" jdbcType="DATE" />
    <result column="zhengshutemp14" property="zhengshutemp14" jdbcType="DATE" />
    <result column="zhengshutemp15" property="zhengshutemp15" jdbcType="DATE" />
    <result column="zhengshutemp16" property="zhengshutemp16" jdbcType="INTEGER" />
    <result column="zhengshutemp17" property="zhengshutemp17" jdbcType="INTEGER" />
    <result column="zhengshutemp18" property="zhengshutemp18" jdbcType="INTEGER" />
    <result column="zhengshutemp19" property="zhengshutemp19" jdbcType="INTEGER" />
    <result column="zhengshutemp20" property="zhengshutemp20" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, peixunmingcheng, peixunkaishishijian, peixunkaishishijianstr, peixunjieshushijian, 
    peixunjieshushijianstr, neirongjianjie, zhengshulujing, zuihoucaozuoyonghu, zuihoucaozuoshijian, 
    zuihoucaozuoshijianstr, zhengshutemp1, zhengshutemp2, zhengshutemp3, zhengshutemp4, 
    zhengshutemp5, zhengshutemp6, zhengshutemp7, zhengshutemp8, zhengshutemp9, zhengshutemp10, 
    zhengshutemp11, zhengshutemp12, zhengshutemp13, zhengshutemp14, zhengshutemp15, zhengshutemp16, 
    zhengshutemp17, zhengshutemp18, zhengshutemp19, zhengshutemp20
  </sql>
   <!-- ******************************************* -->
  <select id="getListByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  select 
  <include refid="Base_Column_List" />
  from yy_zhengshu where user_id=#{id,jdbcType=INTEGER}
  </select>
  <!-- ******************************************* -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from yy_zhengshu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from yy_zhengshu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.netsdar.hospital.entity.YYZhengshu" >
    insert into yy_zhengshu (id, user_id, peixunmingcheng, 
      peixunkaishishijian, peixunkaishishijianstr, 
      peixunjieshushijian, peixunjieshushijianstr, 
      neirongjianjie, zhengshulujing, zuihoucaozuoyonghu, 
      zuihoucaozuoshijian, zuihoucaozuoshijianstr, 
      zhengshutemp1, zhengshutemp2, zhengshutemp3, 
      zhengshutemp4, zhengshutemp5, zhengshutemp6, 
      zhengshutemp7, zhengshutemp8, zhengshutemp9, 
      zhengshutemp10, zhengshutemp11, zhengshutemp12, 
      zhengshutemp13, zhengshutemp14, zhengshutemp15, 
      zhengshutemp16, zhengshutemp17, zhengshutemp18, 
      zhengshutemp19, zhengshutemp20)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{peixunmingcheng,jdbcType=VARCHAR}, 
      #{peixunkaishishijian,jdbcType=DATE}, #{peixunkaishishijianstr,jdbcType=VARCHAR}, 
      #{peixunjieshushijian,jdbcType=DATE}, #{peixunjieshushijianstr,jdbcType=VARCHAR}, 
      #{neirongjianjie,jdbcType=VARCHAR}, #{zhengshulujing,jdbcType=VARCHAR}, #{zuihoucaozuoyonghu,jdbcType=VARCHAR}, 
      #{zuihoucaozuoshijian,jdbcType=DATE}, #{zuihoucaozuoshijianstr,jdbcType=VARCHAR}, 
      #{zhengshutemp1,jdbcType=VARCHAR}, #{zhengshutemp2,jdbcType=VARCHAR}, #{zhengshutemp3,jdbcType=VARCHAR}, 
      #{zhengshutemp4,jdbcType=VARCHAR}, #{zhengshutemp5,jdbcType=VARCHAR}, #{zhengshutemp6,jdbcType=VARCHAR}, 
      #{zhengshutemp7,jdbcType=VARCHAR}, #{zhengshutemp8,jdbcType=VARCHAR}, #{zhengshutemp9,jdbcType=VARCHAR}, 
      #{zhengshutemp10,jdbcType=VARCHAR}, #{zhengshutemp11,jdbcType=DATE}, #{zhengshutemp12,jdbcType=DATE}, 
      #{zhengshutemp13,jdbcType=DATE}, #{zhengshutemp14,jdbcType=DATE}, #{zhengshutemp15,jdbcType=DATE}, 
      #{zhengshutemp16,jdbcType=INTEGER}, #{zhengshutemp17,jdbcType=INTEGER}, #{zhengshutemp18,jdbcType=INTEGER}, 
      #{zhengshutemp19,jdbcType=INTEGER}, #{zhengshutemp20,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.netsdar.hospital.entity.YYZhengshu" >
    insert into yy_zhengshu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="peixunmingcheng != null" >
        peixunmingcheng,
      </if>
      <if test="peixunkaishishijian != null" >
        peixunkaishishijian,
      </if>
      <if test="peixunkaishishijianstr != null" >
        peixunkaishishijianstr,
      </if>
      <if test="peixunjieshushijian != null" >
        peixunjieshushijian,
      </if>
      <if test="peixunjieshushijianstr != null" >
        peixunjieshushijianstr,
      </if>
      <if test="neirongjianjie != null" >
        neirongjianjie,
      </if>
      <if test="zhengshulujing != null" >
        zhengshulujing,
      </if>
      <if test="zuihoucaozuoyonghu != null" >
        zuihoucaozuoyonghu,
      </if>
      <if test="zuihoucaozuoshijian != null" >
        zuihoucaozuoshijian,
      </if>
      <if test="zuihoucaozuoshijianstr != null" >
        zuihoucaozuoshijianstr,
      </if>
      <if test="zhengshutemp1 != null" >
        zhengshutemp1,
      </if>
      <if test="zhengshutemp2 != null" >
        zhengshutemp2,
      </if>
      <if test="zhengshutemp3 != null" >
        zhengshutemp3,
      </if>
      <if test="zhengshutemp4 != null" >
        zhengshutemp4,
      </if>
      <if test="zhengshutemp5 != null" >
        zhengshutemp5,
      </if>
      <if test="zhengshutemp6 != null" >
        zhengshutemp6,
      </if>
      <if test="zhengshutemp7 != null" >
        zhengshutemp7,
      </if>
      <if test="zhengshutemp8 != null" >
        zhengshutemp8,
      </if>
      <if test="zhengshutemp9 != null" >
        zhengshutemp9,
      </if>
      <if test="zhengshutemp10 != null" >
        zhengshutemp10,
      </if>
      <if test="zhengshutemp11 != null" >
        zhengshutemp11,
      </if>
      <if test="zhengshutemp12 != null" >
        zhengshutemp12,
      </if>
      <if test="zhengshutemp13 != null" >
        zhengshutemp13,
      </if>
      <if test="zhengshutemp14 != null" >
        zhengshutemp14,
      </if>
      <if test="zhengshutemp15 != null" >
        zhengshutemp15,
      </if>
      <if test="zhengshutemp16 != null" >
        zhengshutemp16,
      </if>
      <if test="zhengshutemp17 != null" >
        zhengshutemp17,
      </if>
      <if test="zhengshutemp18 != null" >
        zhengshutemp18,
      </if>
      <if test="zhengshutemp19 != null" >
        zhengshutemp19,
      </if>
      <if test="zhengshutemp20 != null" >
        zhengshutemp20,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="peixunmingcheng != null" >
        #{peixunmingcheng,jdbcType=VARCHAR},
      </if>
      <if test="peixunkaishishijian != null" >
        #{peixunkaishishijian,jdbcType=DATE},
      </if>
      <if test="peixunkaishishijianstr != null" >
        #{peixunkaishishijianstr,jdbcType=VARCHAR},
      </if>
      <if test="peixunjieshushijian != null" >
        #{peixunjieshushijian,jdbcType=DATE},
      </if>
      <if test="peixunjieshushijianstr != null" >
        #{peixunjieshushijianstr,jdbcType=VARCHAR},
      </if>
      <if test="neirongjianjie != null" >
        #{neirongjianjie,jdbcType=VARCHAR},
      </if>
      <if test="zhengshulujing != null" >
        #{zhengshulujing,jdbcType=VARCHAR},
      </if>
      <if test="zuihoucaozuoyonghu != null" >
        #{zuihoucaozuoyonghu,jdbcType=VARCHAR},
      </if>
      <if test="zuihoucaozuoshijian != null" >
        #{zuihoucaozuoshijian,jdbcType=DATE},
      </if>
      <if test="zuihoucaozuoshijianstr != null" >
        #{zuihoucaozuoshijianstr,jdbcType=VARCHAR},
      </if>
      <if test="zhengshutemp1 != null" >
        #{zhengshutemp1,jdbcType=VARCHAR},
      </if>
      <if test="zhengshutemp2 != null" >
        #{zhengshutemp2,jdbcType=VARCHAR},
      </if>
      <if test="zhengshutemp3 != null" >
        #{zhengshutemp3,jdbcType=VARCHAR},
      </if>
      <if test="zhengshutemp4 != null" >
        #{zhengshutemp4,jdbcType=VARCHAR},
      </if>
      <if test="zhengshutemp5 != null" >
        #{zhengshutemp5,jdbcType=VARCHAR},
      </if>
      <if test="zhengshutemp6 != null" >
        #{zhengshutemp6,jdbcType=VARCHAR},
      </if>
      <if test="zhengshutemp7 != null" >
        #{zhengshutemp7,jdbcType=VARCHAR},
      </if>
      <if test="zhengshutemp8 != null" >
        #{zhengshutemp8,jdbcType=VARCHAR},
      </if>
      <if test="zhengshutemp9 != null" >
        #{zhengshutemp9,jdbcType=VARCHAR},
      </if>
      <if test="zhengshutemp10 != null" >
        #{zhengshutemp10,jdbcType=VARCHAR},
      </if>
      <if test="zhengshutemp11 != null" >
        #{zhengshutemp11,jdbcType=DATE},
      </if>
      <if test="zhengshutemp12 != null" >
        #{zhengshutemp12,jdbcType=DATE},
      </if>
      <if test="zhengshutemp13 != null" >
        #{zhengshutemp13,jdbcType=DATE},
      </if>
      <if test="zhengshutemp14 != null" >
        #{zhengshutemp14,jdbcType=DATE},
      </if>
      <if test="zhengshutemp15 != null" >
        #{zhengshutemp15,jdbcType=DATE},
      </if>
      <if test="zhengshutemp16 != null" >
        #{zhengshutemp16,jdbcType=INTEGER},
      </if>
      <if test="zhengshutemp17 != null" >
        #{zhengshutemp17,jdbcType=INTEGER},
      </if>
      <if test="zhengshutemp18 != null" >
        #{zhengshutemp18,jdbcType=INTEGER},
      </if>
      <if test="zhengshutemp19 != null" >
        #{zhengshutemp19,jdbcType=INTEGER},
      </if>
      <if test="zhengshutemp20 != null" >
        #{zhengshutemp20,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.netsdar.hospital.entity.YYZhengshu" >
    update yy_zhengshu
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="peixunmingcheng != null" >
        peixunmingcheng = #{peixunmingcheng,jdbcType=VARCHAR},
      </if>
      <if test="peixunkaishishijian != null" >
        peixunkaishishijian = #{peixunkaishishijian,jdbcType=DATE},
      </if>
      <if test="peixunkaishishijianstr != null" >
        peixunkaishishijianstr = #{peixunkaishishijianstr,jdbcType=VARCHAR},
      </if>
      <if test="peixunjieshushijian != null" >
        peixunjieshushijian = #{peixunjieshushijian,jdbcType=DATE},
      </if>
      <if test="peixunjieshushijianstr != null" >
        peixunjieshushijianstr = #{peixunjieshushijianstr,jdbcType=VARCHAR},
      </if>
      <if test="neirongjianjie != null" >
        neirongjianjie = #{neirongjianjie,jdbcType=VARCHAR},
      </if>
      <if test="zhengshulujing != null" >
        zhengshulujing = #{zhengshulujing,jdbcType=VARCHAR},
      </if>
      <if test="zuihoucaozuoyonghu != null" >
        zuihoucaozuoyonghu = #{zuihoucaozuoyonghu,jdbcType=VARCHAR},
      </if>
      <if test="zuihoucaozuoshijian != null" >
        zuihoucaozuoshijian = #{zuihoucaozuoshijian,jdbcType=DATE},
      </if>
      <if test="zuihoucaozuoshijianstr != null" >
        zuihoucaozuoshijianstr = #{zuihoucaozuoshijianstr,jdbcType=VARCHAR},
      </if>
      <if test="zhengshutemp1 != null" >
        zhengshutemp1 = #{zhengshutemp1,jdbcType=VARCHAR},
      </if>
      <if test="zhengshutemp2 != null" >
        zhengshutemp2 = #{zhengshutemp2,jdbcType=VARCHAR},
      </if>
      <if test="zhengshutemp3 != null" >
        zhengshutemp3 = #{zhengshutemp3,jdbcType=VARCHAR},
      </if>
      <if test="zhengshutemp4 != null" >
        zhengshutemp4 = #{zhengshutemp4,jdbcType=VARCHAR},
      </if>
      <if test="zhengshutemp5 != null" >
        zhengshutemp5 = #{zhengshutemp5,jdbcType=VARCHAR},
      </if>
      <if test="zhengshutemp6 != null" >
        zhengshutemp6 = #{zhengshutemp6,jdbcType=VARCHAR},
      </if>
      <if test="zhengshutemp7 != null" >
        zhengshutemp7 = #{zhengshutemp7,jdbcType=VARCHAR},
      </if>
      <if test="zhengshutemp8 != null" >
        zhengshutemp8 = #{zhengshutemp8,jdbcType=VARCHAR},
      </if>
      <if test="zhengshutemp9 != null" >
        zhengshutemp9 = #{zhengshutemp9,jdbcType=VARCHAR},
      </if>
      <if test="zhengshutemp10 != null" >
        zhengshutemp10 = #{zhengshutemp10,jdbcType=VARCHAR},
      </if>
      <if test="zhengshutemp11 != null" >
        zhengshutemp11 = #{zhengshutemp11,jdbcType=DATE},
      </if>
      <if test="zhengshutemp12 != null" >
        zhengshutemp12 = #{zhengshutemp12,jdbcType=DATE},
      </if>
      <if test="zhengshutemp13 != null" >
        zhengshutemp13 = #{zhengshutemp13,jdbcType=DATE},
      </if>
      <if test="zhengshutemp14 != null" >
        zhengshutemp14 = #{zhengshutemp14,jdbcType=DATE},
      </if>
      <if test="zhengshutemp15 != null" >
        zhengshutemp15 = #{zhengshutemp15,jdbcType=DATE},
      </if>
      <if test="zhengshutemp16 != null" >
        zhengshutemp16 = #{zhengshutemp16,jdbcType=INTEGER},
      </if>
      <if test="zhengshutemp17 != null" >
        zhengshutemp17 = #{zhengshutemp17,jdbcType=INTEGER},
      </if>
      <if test="zhengshutemp18 != null" >
        zhengshutemp18 = #{zhengshutemp18,jdbcType=INTEGER},
      </if>
      <if test="zhengshutemp19 != null" >
        zhengshutemp19 = #{zhengshutemp19,jdbcType=INTEGER},
      </if>
      <if test="zhengshutemp20 != null" >
        zhengshutemp20 = #{zhengshutemp20,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.netsdar.hospital.entity.YYZhengshu" >
    update yy_zhengshu
    set user_id = #{userId,jdbcType=INTEGER},
      peixunmingcheng = #{peixunmingcheng,jdbcType=VARCHAR},
      peixunkaishishijian = #{peixunkaishishijian,jdbcType=DATE},
      peixunkaishishijianstr = #{peixunkaishishijianstr,jdbcType=VARCHAR},
      peixunjieshushijian = #{peixunjieshushijian,jdbcType=DATE},
      peixunjieshushijianstr = #{peixunjieshushijianstr,jdbcType=VARCHAR},
      neirongjianjie = #{neirongjianjie,jdbcType=VARCHAR},
      zhengshulujing = #{zhengshulujing,jdbcType=VARCHAR},
      zuihoucaozuoyonghu = #{zuihoucaozuoyonghu,jdbcType=VARCHAR},
      zuihoucaozuoshijian = #{zuihoucaozuoshijian,jdbcType=DATE},
      zuihoucaozuoshijianstr = #{zuihoucaozuoshijianstr,jdbcType=VARCHAR},
      zhengshutemp1 = #{zhengshutemp1,jdbcType=VARCHAR},
      zhengshutemp2 = #{zhengshutemp2,jdbcType=VARCHAR},
      zhengshutemp3 = #{zhengshutemp3,jdbcType=VARCHAR},
      zhengshutemp4 = #{zhengshutemp4,jdbcType=VARCHAR},
      zhengshutemp5 = #{zhengshutemp5,jdbcType=VARCHAR},
      zhengshutemp6 = #{zhengshutemp6,jdbcType=VARCHAR},
      zhengshutemp7 = #{zhengshutemp7,jdbcType=VARCHAR},
      zhengshutemp8 = #{zhengshutemp8,jdbcType=VARCHAR},
      zhengshutemp9 = #{zhengshutemp9,jdbcType=VARCHAR},
      zhengshutemp10 = #{zhengshutemp10,jdbcType=VARCHAR},
      zhengshutemp11 = #{zhengshutemp11,jdbcType=DATE},
      zhengshutemp12 = #{zhengshutemp12,jdbcType=DATE},
      zhengshutemp13 = #{zhengshutemp13,jdbcType=DATE},
      zhengshutemp14 = #{zhengshutemp14,jdbcType=DATE},
      zhengshutemp15 = #{zhengshutemp15,jdbcType=DATE},
      zhengshutemp16 = #{zhengshutemp16,jdbcType=INTEGER},
      zhengshutemp17 = #{zhengshutemp17,jdbcType=INTEGER},
      zhengshutemp18 = #{zhengshutemp18,jdbcType=INTEGER},
      zhengshutemp19 = #{zhengshutemp19,jdbcType=INTEGER},
      zhengshutemp20 = #{zhengshutemp20,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>