<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netsdar.hospital.dao.YYUserinfoMapper" >
  <resultMap id="BaseResultMap" type="com.netsdar.hospital.entity.YYUserinfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="loginname" property="loginname" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="usersex" property="usersex" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="birthdaystr" property="birthdaystr" jdbcType="VARCHAR" />
    <result column="shenfenzhenghao" property="shenfenzhenghao" jdbcType="VARCHAR" />
    <result column="minzu" property="minzu" jdbcType="VARCHAR" />
    <result column="dangpai" property="dangpai" jdbcType="VARCHAR" />
    <result column="xueli" property="xueli" jdbcType="VARCHAR" />
    <result column="zhicheng" property="zhicheng" jdbcType="VARCHAR" />
    <result column="zhiwu" property="zhiwu" jdbcType="VARCHAR" />
    <result column="gongzuodanwei" property="gongzuodanwei" jdbcType="VARCHAR" />
    <result column="youbian" property="youbian" jdbcType="VARCHAR" />
    <result column="youxiang" property="youxiang" jdbcType="VARCHAR" />
    <result column="shoujihao" property="shoujihao" jdbcType="VARCHAR" />
    <result column="fabiaolunwen" property="fabiaolunwen" jdbcType="VARCHAR" />
    <result column="chengdanketi" property="chengdanketi" jdbcType="VARCHAR" />
    <result column="userinfotemp1" property="userinfotemp1" jdbcType="VARCHAR" />
    <result column="userinfotemp2" property="userinfotemp2" jdbcType="VARCHAR" />
    <result column="userinfotemp3" property="userinfotemp3" jdbcType="VARCHAR" />
    <result column="userinfotemp4" property="userinfotemp4" jdbcType="VARCHAR" />
    <result column="userinfotemp5" property="userinfotemp5" jdbcType="VARCHAR" />
    <result column="userinfotemp6" property="userinfotemp6" jdbcType="VARCHAR" />
    <result column="userinfotemp7" property="userinfotemp7" jdbcType="VARCHAR" />
    <result column="userinfotemp8" property="userinfotemp8" jdbcType="VARCHAR" />
    <result column="userinfotemp9" property="userinfotemp9" jdbcType="VARCHAR" />
    <result column="userinfotemp10" property="userinfotemp10" jdbcType="VARCHAR" />
    <result column="userinfotemp11" property="userinfotemp11" jdbcType="VARCHAR" />
    <result column="userinfotemp12" property="userinfotemp12" jdbcType="VARCHAR" />
    <result column="userinfotemp13" property="userinfotemp13" jdbcType="VARCHAR" />
    <result column="userinfotemp14" property="userinfotemp14" jdbcType="VARCHAR" />
    <result column="userinfotemp15" property="userinfotemp15" jdbcType="VARCHAR" />
    <result column="userinfotemp16" property="userinfotemp16" jdbcType="VARCHAR" />
    <result column="userinfotemp17" property="userinfotemp17" jdbcType="VARCHAR" />
    <result column="userinfotemp18" property="userinfotemp18" jdbcType="VARCHAR" />
    <result column="userinfotemp19" property="userinfotemp19" jdbcType="VARCHAR" />
    <result column="userinfotemp20" property="userinfotemp20" jdbcType="VARCHAR" />
    <result column="userinfotemp21" property="userinfotemp21" jdbcType="DATE" />
    <result column="userinfotemp22" property="userinfotemp22" jdbcType="DATE" />
    <result column="userinfotemp23" property="userinfotemp23" jdbcType="DATE" />
    <result column="userinfotemp24" property="userinfotemp24" jdbcType="DATE" />
    <result column="userinfotemp25" property="userinfotemp25" jdbcType="DATE" />
    <result column="userinfotemp26" property="userinfotemp26" jdbcType="DATE" />
    <result column="userinfotemp27" property="userinfotemp27" jdbcType="DATE" />
    <result column="userinfotemp28" property="userinfotemp28" jdbcType="DATE" />
    <result column="userinfotemp29" property="userinfotemp29" jdbcType="DATE" />
    <result column="userinfotemp30" property="userinfotemp30" jdbcType="DATE" />
    <result column="userinfotemp31" property="userinfotemp31" jdbcType="INTEGER" />
    <result column="userinfotemp32" property="userinfotemp32" jdbcType="INTEGER" />
    <result column="userinfotemp33" property="userinfotemp33" jdbcType="INTEGER" />
    <result column="userinfotemp34" property="userinfotemp34" jdbcType="INTEGER" />
    <result column="userinfotemp35" property="userinfotemp35" jdbcType="INTEGER" />
    <result column="userinfotemp36" property="userinfotemp36" jdbcType="INTEGER" />
    <result column="userinfotemp37" property="userinfotemp37" jdbcType="INTEGER" />
    <result column="userinfotemp38" property="userinfotemp38" jdbcType="INTEGER" />
    <result column="userinfotemp39" property="userinfotemp39" jdbcType="INTEGER" />
    <result column="userinfotemp40" property="userinfotemp40" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, loginname, password, username, usersex, birthday, birthdaystr, shenfenzhenghao, 
    minzu, dangpai, xueli, zhicheng, zhiwu, gongzuodanwei, youbian, youxiang, shoujihao, 
    fabiaolunwen, chengdanketi, userinfotemp1, userinfotemp2, userinfotemp3, userinfotemp4, 
    userinfotemp5, userinfotemp6, userinfotemp7, userinfotemp8, userinfotemp9, userinfotemp10, 
    userinfotemp11, userinfotemp12, userinfotemp13, userinfotemp14, userinfotemp15, userinfotemp16, 
    userinfotemp17, userinfotemp18, userinfotemp19, userinfotemp20, userinfotemp21, userinfotemp22, 
    userinfotemp23, userinfotemp24, userinfotemp25, userinfotemp26, userinfotemp27, userinfotemp28, 
    userinfotemp29, userinfotemp30, userinfotemp31, userinfotemp32, userinfotemp33, userinfotemp34, 
    userinfotemp35, userinfotemp36, userinfotemp37, userinfotemp38, userinfotemp39, userinfotemp40
  </sql>
  <!-- **************************************** -->
  <select id="selectByname" resultMap="BaseResultMap"  parameterType="java.lang.String">
  select 
  <include refid="Base_Column_List" />
  from yy_userinfo where loginname=#{loginname,jdbcType=VARCHAR}
  </select>
 
  <select id="getListUserinfo" resultMap="BaseResultMap" parameterType="map">
   select 
    <include refid="Base_Column_List" />
    from yy_userinfo  where  userinfotemp7 ='1' 
    <if test="searchtext != null and searchtext != ''" >
	    and (id like '%${searchtext}%' or loginname like '%${searchtext}%' 
	     or username like '%${searchtext}%' 
	    or usersex like '%${searchtext}%')
    </if>
  </select>
  <update id="deleteUpdate"  parameterType="java.lang.Integer">
  update yy_userinfo userinfo set userinfo.userinfotemp7='2' 
  where userinfo.id= #{id,jdbcType=INTEGER}
  </update>
   <!-- **************************************** -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from yy_userinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from yy_userinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.netsdar.hospital.entity.YYUserinfo" >
    insert into yy_userinfo (id, loginname, password, 
      username, usersex, birthday, 
      birthdaystr, shenfenzhenghao, minzu, 
      dangpai, xueli, zhicheng, 
      zhiwu, gongzuodanwei, youbian, 
      youxiang, shoujihao, fabiaolunwen, 
      chengdanketi, userinfotemp1, userinfotemp2, 
      userinfotemp3, userinfotemp4, userinfotemp5, 
      userinfotemp6, userinfotemp7, userinfotemp8, 
      userinfotemp9, userinfotemp10, userinfotemp11, 
      userinfotemp12, userinfotemp13, userinfotemp14, 
      userinfotemp15, userinfotemp16, userinfotemp17, 
      userinfotemp18, userinfotemp19, userinfotemp20, 
      userinfotemp21, userinfotemp22, userinfotemp23, 
      userinfotemp24, userinfotemp25, userinfotemp26, 
      userinfotemp27, userinfotemp28, userinfotemp29, 
      userinfotemp30, userinfotemp31, userinfotemp32, 
      userinfotemp33, userinfotemp34, userinfotemp35, 
      userinfotemp36, userinfotemp37, userinfotemp38, 
      userinfotemp39, userinfotemp40)
    values (#{id,jdbcType=INTEGER}, #{loginname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{usersex,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, 
      #{birthdaystr,jdbcType=VARCHAR}, #{shenfenzhenghao,jdbcType=VARCHAR}, #{minzu,jdbcType=VARCHAR}, 
      #{dangpai,jdbcType=VARCHAR}, #{xueli,jdbcType=VARCHAR}, #{zhicheng,jdbcType=VARCHAR}, 
      #{zhiwu,jdbcType=VARCHAR}, #{gongzuodanwei,jdbcType=VARCHAR}, #{youbian,jdbcType=VARCHAR}, 
      #{youxiang,jdbcType=VARCHAR}, #{shoujihao,jdbcType=VARCHAR}, #{fabiaolunwen,jdbcType=VARCHAR}, 
      #{chengdanketi,jdbcType=VARCHAR}, #{userinfotemp1,jdbcType=VARCHAR}, #{userinfotemp2,jdbcType=VARCHAR}, 
      #{userinfotemp3,jdbcType=VARCHAR}, #{userinfotemp4,jdbcType=VARCHAR}, #{userinfotemp5,jdbcType=VARCHAR}, 
      #{userinfotemp6,jdbcType=VARCHAR}, #{userinfotemp7,jdbcType=VARCHAR}, #{userinfotemp8,jdbcType=VARCHAR}, 
      #{userinfotemp9,jdbcType=VARCHAR}, #{userinfotemp10,jdbcType=VARCHAR}, #{userinfotemp11,jdbcType=VARCHAR}, 
      #{userinfotemp12,jdbcType=VARCHAR}, #{userinfotemp13,jdbcType=VARCHAR}, #{userinfotemp14,jdbcType=VARCHAR}, 
      #{userinfotemp15,jdbcType=VARCHAR}, #{userinfotemp16,jdbcType=VARCHAR}, #{userinfotemp17,jdbcType=VARCHAR}, 
      #{userinfotemp18,jdbcType=VARCHAR}, #{userinfotemp19,jdbcType=VARCHAR}, #{userinfotemp20,jdbcType=VARCHAR}, 
      #{userinfotemp21,jdbcType=DATE}, #{userinfotemp22,jdbcType=DATE}, #{userinfotemp23,jdbcType=DATE}, 
      #{userinfotemp24,jdbcType=DATE}, #{userinfotemp25,jdbcType=DATE}, #{userinfotemp26,jdbcType=DATE}, 
      #{userinfotemp27,jdbcType=DATE}, #{userinfotemp28,jdbcType=DATE}, #{userinfotemp29,jdbcType=DATE}, 
      #{userinfotemp30,jdbcType=DATE}, #{userinfotemp31,jdbcType=INTEGER}, #{userinfotemp32,jdbcType=INTEGER}, 
      #{userinfotemp33,jdbcType=INTEGER}, #{userinfotemp34,jdbcType=INTEGER}, #{userinfotemp35,jdbcType=INTEGER}, 
      #{userinfotemp36,jdbcType=INTEGER}, #{userinfotemp37,jdbcType=INTEGER}, #{userinfotemp38,jdbcType=INTEGER}, 
      #{userinfotemp39,jdbcType=INTEGER}, #{userinfotemp40,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.netsdar.hospital.entity.YYUserinfo" >
    insert into yy_userinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="loginname != null" >
        loginname,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="usersex != null" >
        usersex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="birthdaystr != null" >
        birthdaystr,
      </if>
      <if test="shenfenzhenghao != null" >
        shenfenzhenghao,
      </if>
      <if test="minzu != null" >
        minzu,
      </if>
      <if test="dangpai != null" >
        dangpai,
      </if>
      <if test="xueli != null" >
        xueli,
      </if>
      <if test="zhicheng != null" >
        zhicheng,
      </if>
      <if test="zhiwu != null" >
        zhiwu,
      </if>
      <if test="gongzuodanwei != null" >
        gongzuodanwei,
      </if>
      <if test="youbian != null" >
        youbian,
      </if>
      <if test="youxiang != null" >
        youxiang,
      </if>
      <if test="shoujihao != null" >
        shoujihao,
      </if>
      <if test="fabiaolunwen != null" >
        fabiaolunwen,
      </if>
      <if test="chengdanketi != null" >
        chengdanketi,
      </if>
      <if test="userinfotemp1 != null" >
        userinfotemp1,
      </if>
      <if test="userinfotemp2 != null" >
        userinfotemp2,
      </if>
      <if test="userinfotemp3 != null" >
        userinfotemp3,
      </if>
      <if test="userinfotemp4 != null" >
        userinfotemp4,
      </if>
      <if test="userinfotemp5 != null" >
        userinfotemp5,
      </if>
      <if test="userinfotemp6 != null" >
        userinfotemp6,
      </if>
      <if test="userinfotemp7 != null" >
        userinfotemp7,
      </if>
      <if test="userinfotemp8 != null" >
        userinfotemp8,
      </if>
      <if test="userinfotemp9 != null" >
        userinfotemp9,
      </if>
      <if test="userinfotemp10 != null" >
        userinfotemp10,
      </if>
      <if test="userinfotemp11 != null" >
        userinfotemp11,
      </if>
      <if test="userinfotemp12 != null" >
        userinfotemp12,
      </if>
      <if test="userinfotemp13 != null" >
        userinfotemp13,
      </if>
      <if test="userinfotemp14 != null" >
        userinfotemp14,
      </if>
      <if test="userinfotemp15 != null" >
        userinfotemp15,
      </if>
      <if test="userinfotemp16 != null" >
        userinfotemp16,
      </if>
      <if test="userinfotemp17 != null" >
        userinfotemp17,
      </if>
      <if test="userinfotemp18 != null" >
        userinfotemp18,
      </if>
      <if test="userinfotemp19 != null" >
        userinfotemp19,
      </if>
      <if test="userinfotemp20 != null" >
        userinfotemp20,
      </if>
      <if test="userinfotemp21 != null" >
        userinfotemp21,
      </if>
      <if test="userinfotemp22 != null" >
        userinfotemp22,
      </if>
      <if test="userinfotemp23 != null" >
        userinfotemp23,
      </if>
      <if test="userinfotemp24 != null" >
        userinfotemp24,
      </if>
      <if test="userinfotemp25 != null" >
        userinfotemp25,
      </if>
      <if test="userinfotemp26 != null" >
        userinfotemp26,
      </if>
      <if test="userinfotemp27 != null" >
        userinfotemp27,
      </if>
      <if test="userinfotemp28 != null" >
        userinfotemp28,
      </if>
      <if test="userinfotemp29 != null" >
        userinfotemp29,
      </if>
      <if test="userinfotemp30 != null" >
        userinfotemp30,
      </if>
      <if test="userinfotemp31 != null" >
        userinfotemp31,
      </if>
      <if test="userinfotemp32 != null" >
        userinfotemp32,
      </if>
      <if test="userinfotemp33 != null" >
        userinfotemp33,
      </if>
      <if test="userinfotemp34 != null" >
        userinfotemp34,
      </if>
      <if test="userinfotemp35 != null" >
        userinfotemp35,
      </if>
      <if test="userinfotemp36 != null" >
        userinfotemp36,
      </if>
      <if test="userinfotemp37 != null" >
        userinfotemp37,
      </if>
      <if test="userinfotemp38 != null" >
        userinfotemp38,
      </if>
      <if test="userinfotemp39 != null" >
        userinfotemp39,
      </if>
      <if test="userinfotemp40 != null" >
        userinfotemp40,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="loginname != null" >
        #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="usersex != null" >
        #{usersex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="birthdaystr != null" >
        #{birthdaystr,jdbcType=VARCHAR},
      </if>
      <if test="shenfenzhenghao != null" >
        #{shenfenzhenghao,jdbcType=VARCHAR},
      </if>
      <if test="minzu != null" >
        #{minzu,jdbcType=VARCHAR},
      </if>
      <if test="dangpai != null" >
        #{dangpai,jdbcType=VARCHAR},
      </if>
      <if test="xueli != null" >
        #{xueli,jdbcType=VARCHAR},
      </if>
      <if test="zhicheng != null" >
        #{zhicheng,jdbcType=VARCHAR},
      </if>
      <if test="zhiwu != null" >
        #{zhiwu,jdbcType=VARCHAR},
      </if>
      <if test="gongzuodanwei != null" >
        #{gongzuodanwei,jdbcType=VARCHAR},
      </if>
      <if test="youbian != null" >
        #{youbian,jdbcType=VARCHAR},
      </if>
      <if test="youxiang != null" >
        #{youxiang,jdbcType=VARCHAR},
      </if>
      <if test="shoujihao != null" >
        #{shoujihao,jdbcType=VARCHAR},
      </if>
      <if test="fabiaolunwen != null" >
        #{fabiaolunwen,jdbcType=VARCHAR},
      </if>
      <if test="chengdanketi != null" >
        #{chengdanketi,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp1 != null" >
        #{userinfotemp1,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp2 != null" >
        #{userinfotemp2,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp3 != null" >
        #{userinfotemp3,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp4 != null" >
        #{userinfotemp4,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp5 != null" >
        #{userinfotemp5,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp6 != null" >
        #{userinfotemp6,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp7 != null" >
        #{userinfotemp7,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp8 != null" >
        #{userinfotemp8,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp9 != null" >
        #{userinfotemp9,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp10 != null" >
        #{userinfotemp10,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp11 != null" >
        #{userinfotemp11,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp12 != null" >
        #{userinfotemp12,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp13 != null" >
        #{userinfotemp13,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp14 != null" >
        #{userinfotemp14,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp15 != null" >
        #{userinfotemp15,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp16 != null" >
        #{userinfotemp16,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp17 != null" >
        #{userinfotemp17,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp18 != null" >
        #{userinfotemp18,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp19 != null" >
        #{userinfotemp19,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp20 != null" >
        #{userinfotemp20,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp21 != null" >
        #{userinfotemp21,jdbcType=DATE},
      </if>
      <if test="userinfotemp22 != null" >
        #{userinfotemp22,jdbcType=DATE},
      </if>
      <if test="userinfotemp23 != null" >
        #{userinfotemp23,jdbcType=DATE},
      </if>
      <if test="userinfotemp24 != null" >
        #{userinfotemp24,jdbcType=DATE},
      </if>
      <if test="userinfotemp25 != null" >
        #{userinfotemp25,jdbcType=DATE},
      </if>
      <if test="userinfotemp26 != null" >
        #{userinfotemp26,jdbcType=DATE},
      </if>
      <if test="userinfotemp27 != null" >
        #{userinfotemp27,jdbcType=DATE},
      </if>
      <if test="userinfotemp28 != null" >
        #{userinfotemp28,jdbcType=DATE},
      </if>
      <if test="userinfotemp29 != null" >
        #{userinfotemp29,jdbcType=DATE},
      </if>
      <if test="userinfotemp30 != null" >
        #{userinfotemp30,jdbcType=DATE},
      </if>
      <if test="userinfotemp31 != null" >
        #{userinfotemp31,jdbcType=INTEGER},
      </if>
      <if test="userinfotemp32 != null" >
        #{userinfotemp32,jdbcType=INTEGER},
      </if>
      <if test="userinfotemp33 != null" >
        #{userinfotemp33,jdbcType=INTEGER},
      </if>
      <if test="userinfotemp34 != null" >
        #{userinfotemp34,jdbcType=INTEGER},
      </if>
      <if test="userinfotemp35 != null" >
        #{userinfotemp35,jdbcType=INTEGER},
      </if>
      <if test="userinfotemp36 != null" >
        #{userinfotemp36,jdbcType=INTEGER},
      </if>
      <if test="userinfotemp37 != null" >
        #{userinfotemp37,jdbcType=INTEGER},
      </if>
      <if test="userinfotemp38 != null" >
        #{userinfotemp38,jdbcType=INTEGER},
      </if>
      <if test="userinfotemp39 != null" >
        #{userinfotemp39,jdbcType=INTEGER},
      </if>
      <if test="userinfotemp40 != null" >
        #{userinfotemp40,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.netsdar.hospital.entity.YYUserinfo" >
    update yy_userinfo
    <set >
      <if test="loginname != null" >
        loginname = #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="usersex != null" >
        usersex = #{usersex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="birthdaystr != null" >
        birthdaystr = #{birthdaystr,jdbcType=VARCHAR},
      </if>
      <if test="shenfenzhenghao != null" >
        shenfenzhenghao = #{shenfenzhenghao,jdbcType=VARCHAR},
      </if>
      <if test="minzu != null" >
        minzu = #{minzu,jdbcType=VARCHAR},
      </if>
      <if test="dangpai != null" >
        dangpai = #{dangpai,jdbcType=VARCHAR},
      </if>
      <if test="xueli != null" >
        xueli = #{xueli,jdbcType=VARCHAR},
      </if>
      <if test="zhicheng != null" >
        zhicheng = #{zhicheng,jdbcType=VARCHAR},
      </if>
      <if test="zhiwu != null" >
        zhiwu = #{zhiwu,jdbcType=VARCHAR},
      </if>
      <if test="gongzuodanwei != null" >
        gongzuodanwei = #{gongzuodanwei,jdbcType=VARCHAR},
      </if>
      <if test="youbian != null" >
        youbian = #{youbian,jdbcType=VARCHAR},
      </if>
      <if test="youxiang != null" >
        youxiang = #{youxiang,jdbcType=VARCHAR},
      </if>
      <if test="shoujihao != null" >
        shoujihao = #{shoujihao,jdbcType=VARCHAR},
      </if>
      <if test="fabiaolunwen != null" >
        fabiaolunwen = #{fabiaolunwen,jdbcType=VARCHAR},
      </if>
      <if test="chengdanketi != null" >
        chengdanketi = #{chengdanketi,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp1 != null" >
        userinfotemp1 = #{userinfotemp1,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp2 != null" >
        userinfotemp2 = #{userinfotemp2,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp3 != null" >
        userinfotemp3 = #{userinfotemp3,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp4 != null" >
        userinfotemp4 = #{userinfotemp4,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp5 != null" >
        userinfotemp5 = #{userinfotemp5,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp6 != null" >
        userinfotemp6 = #{userinfotemp6,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp7 != null" >
        userinfotemp7 = #{userinfotemp7,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp8 != null" >
        userinfotemp8 = #{userinfotemp8,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp9 != null" >
        userinfotemp9 = #{userinfotemp9,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp10 != null" >
        userinfotemp10 = #{userinfotemp10,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp11 != null" >
        userinfotemp11 = #{userinfotemp11,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp12 != null" >
        userinfotemp12 = #{userinfotemp12,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp13 != null" >
        userinfotemp13 = #{userinfotemp13,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp14 != null" >
        userinfotemp14 = #{userinfotemp14,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp15 != null" >
        userinfotemp15 = #{userinfotemp15,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp16 != null" >
        userinfotemp16 = #{userinfotemp16,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp17 != null" >
        userinfotemp17 = #{userinfotemp17,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp18 != null" >
        userinfotemp18 = #{userinfotemp18,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp19 != null" >
        userinfotemp19 = #{userinfotemp19,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp20 != null" >
        userinfotemp20 = #{userinfotemp20,jdbcType=VARCHAR},
      </if>
      <if test="userinfotemp21 != null" >
        userinfotemp21 = #{userinfotemp21,jdbcType=DATE},
      </if>
      <if test="userinfotemp22 != null" >
        userinfotemp22 = #{userinfotemp22,jdbcType=DATE},
      </if>
      <if test="userinfotemp23 != null" >
        userinfotemp23 = #{userinfotemp23,jdbcType=DATE},
      </if>
      <if test="userinfotemp24 != null" >
        userinfotemp24 = #{userinfotemp24,jdbcType=DATE},
      </if>
      <if test="userinfotemp25 != null" >
        userinfotemp25 = #{userinfotemp25,jdbcType=DATE},
      </if>
      <if test="userinfotemp26 != null" >
        userinfotemp26 = #{userinfotemp26,jdbcType=DATE},
      </if>
      <if test="userinfotemp27 != null" >
        userinfotemp27 = #{userinfotemp27,jdbcType=DATE},
      </if>
      <if test="userinfotemp28 != null" >
        userinfotemp28 = #{userinfotemp28,jdbcType=DATE},
      </if>
      <if test="userinfotemp29 != null" >
        userinfotemp29 = #{userinfotemp29,jdbcType=DATE},
      </if>
      <if test="userinfotemp30 != null" >
        userinfotemp30 = #{userinfotemp30,jdbcType=DATE},
      </if>
      <if test="userinfotemp31 != null" >
        userinfotemp31 = #{userinfotemp31,jdbcType=INTEGER},
      </if>
      <if test="userinfotemp32 != null" >
        userinfotemp32 = #{userinfotemp32,jdbcType=INTEGER},
      </if>
      <if test="userinfotemp33 != null" >
        userinfotemp33 = #{userinfotemp33,jdbcType=INTEGER},
      </if>
      <if test="userinfotemp34 != null" >
        userinfotemp34 = #{userinfotemp34,jdbcType=INTEGER},
      </if>
      <if test="userinfotemp35 != null" >
        userinfotemp35 = #{userinfotemp35,jdbcType=INTEGER},
      </if>
      <if test="userinfotemp36 != null" >
        userinfotemp36 = #{userinfotemp36,jdbcType=INTEGER},
      </if>
      <if test="userinfotemp37 != null" >
        userinfotemp37 = #{userinfotemp37,jdbcType=INTEGER},
      </if>
      <if test="userinfotemp38 != null" >
        userinfotemp38 = #{userinfotemp38,jdbcType=INTEGER},
      </if>
      <if test="userinfotemp39 != null" >
        userinfotemp39 = #{userinfotemp39,jdbcType=INTEGER},
      </if>
      <if test="userinfotemp40 != null" >
        userinfotemp40 = #{userinfotemp40,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.netsdar.hospital.entity.YYUserinfo" >
    update yy_userinfo
    set loginname = #{loginname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      usersex = #{usersex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      birthdaystr = #{birthdaystr,jdbcType=VARCHAR},
      shenfenzhenghao = #{shenfenzhenghao,jdbcType=VARCHAR},
      minzu = #{minzu,jdbcType=VARCHAR},
      dangpai = #{dangpai,jdbcType=VARCHAR},
      xueli = #{xueli,jdbcType=VARCHAR},
      zhicheng = #{zhicheng,jdbcType=VARCHAR},
      zhiwu = #{zhiwu,jdbcType=VARCHAR},
      gongzuodanwei = #{gongzuodanwei,jdbcType=VARCHAR},
      youbian = #{youbian,jdbcType=VARCHAR},
      youxiang = #{youxiang,jdbcType=VARCHAR},
      shoujihao = #{shoujihao,jdbcType=VARCHAR},
      fabiaolunwen = #{fabiaolunwen,jdbcType=VARCHAR},
      chengdanketi = #{chengdanketi,jdbcType=VARCHAR},
      userinfotemp1 = #{userinfotemp1,jdbcType=VARCHAR},
      userinfotemp2 = #{userinfotemp2,jdbcType=VARCHAR},
      userinfotemp3 = #{userinfotemp3,jdbcType=VARCHAR},
      userinfotemp4 = #{userinfotemp4,jdbcType=VARCHAR},
      userinfotemp5 = #{userinfotemp5,jdbcType=VARCHAR},
      userinfotemp6 = #{userinfotemp6,jdbcType=VARCHAR},
      userinfotemp7 = #{userinfotemp7,jdbcType=VARCHAR},
      userinfotemp8 = #{userinfotemp8,jdbcType=VARCHAR},
      userinfotemp9 = #{userinfotemp9,jdbcType=VARCHAR},
      userinfotemp10 = #{userinfotemp10,jdbcType=VARCHAR},
      userinfotemp11 = #{userinfotemp11,jdbcType=VARCHAR},
      userinfotemp12 = #{userinfotemp12,jdbcType=VARCHAR},
      userinfotemp13 = #{userinfotemp13,jdbcType=VARCHAR},
      userinfotemp14 = #{userinfotemp14,jdbcType=VARCHAR},
      userinfotemp15 = #{userinfotemp15,jdbcType=VARCHAR},
      userinfotemp16 = #{userinfotemp16,jdbcType=VARCHAR},
      userinfotemp17 = #{userinfotemp17,jdbcType=VARCHAR},
      userinfotemp18 = #{userinfotemp18,jdbcType=VARCHAR},
      userinfotemp19 = #{userinfotemp19,jdbcType=VARCHAR},
      userinfotemp20 = #{userinfotemp20,jdbcType=VARCHAR},
      userinfotemp21 = #{userinfotemp21,jdbcType=DATE},
      userinfotemp22 = #{userinfotemp22,jdbcType=DATE},
      userinfotemp23 = #{userinfotemp23,jdbcType=DATE},
      userinfotemp24 = #{userinfotemp24,jdbcType=DATE},
      userinfotemp25 = #{userinfotemp25,jdbcType=DATE},
      userinfotemp26 = #{userinfotemp26,jdbcType=DATE},
      userinfotemp27 = #{userinfotemp27,jdbcType=DATE},
      userinfotemp28 = #{userinfotemp28,jdbcType=DATE},
      userinfotemp29 = #{userinfotemp29,jdbcType=DATE},
      userinfotemp30 = #{userinfotemp30,jdbcType=DATE},
      userinfotemp31 = #{userinfotemp31,jdbcType=INTEGER},
      userinfotemp32 = #{userinfotemp32,jdbcType=INTEGER},
      userinfotemp33 = #{userinfotemp33,jdbcType=INTEGER},
      userinfotemp34 = #{userinfotemp34,jdbcType=INTEGER},
      userinfotemp35 = #{userinfotemp35,jdbcType=INTEGER},
      userinfotemp36 = #{userinfotemp36,jdbcType=INTEGER},
      userinfotemp37 = #{userinfotemp37,jdbcType=INTEGER},
      userinfotemp38 = #{userinfotemp38,jdbcType=INTEGER},
      userinfotemp39 = #{userinfotemp39,jdbcType=INTEGER},
      userinfotemp40 = #{userinfotemp40,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>