.file-manager .hr-line-dashed {margin: 6px 0;}
.ibox-content{padding: 7px 10px 4px 10px;}
.contact-box {padding:2px;margin-bottom:6px;position:relative;}
.col-sm-7{padding-left:1px;padding-right:1px;padding-top:3px;}
.col-sm-3{padding-left:3px;padding-right:3px;}
.m-b{margin-bottom:2%;}
.ml16{position:absolute;}

