/* .col-sm-2{display:inline-block;width:20%} */
/* .widget{box-shadow:3px 3px 3px 0px #ccc;position:relative;} */
.widget:hover{background:#7266ba;}
.row div{text-align:center;}
div.ibox-tools a{margin-top:-6px;}
.col-sm-2 a div.widget{height:120px}		
.w100{margin: 5px;}
h2.font-bold a{font-family: inherit;
    /* font-weight: 500; */
    line-height: 1.1;
    color: #fff;}	
	