<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netsdar.hospital.dao.YYFunctionMapper" >
  <resultMap id="BaseResultMap" type="com.netsdar.hospital.entity.YYFunction" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="functionname" property="functionname" jdbcType="VARCHAR" />
    <result column="functionurl" property="functionurl" jdbcType="VARCHAR" />
    <result column="miaoshu" property="miaoshu" jdbcType="VARCHAR" />
    <result column="functiontubiao" property="functiontubiao" jdbcType="VARCHAR" />
    <result column="shouyelujing" property="shouyelujing" jdbcType="VARCHAR" />
    <result column="beijingyanse" property="beijingyanse" jdbcType="VARCHAR" />
    <result column="functiontemp1" property="functiontemp1" jdbcType="VARCHAR" />
    <result column="functiontemp2" property="functiontemp2" jdbcType="VARCHAR" />
    <result column="functiontemp3" property="functiontemp3" jdbcType="VARCHAR" />
    <result column="functiontemp4" property="functiontemp4" jdbcType="VARCHAR" />
    <result column="functiontemp5" property="functiontemp5" jdbcType="VARCHAR" />
    <result column="functiontemp6" property="functiontemp6" jdbcType="VARCHAR" />
    <result column="functiontemp7" property="functiontemp7" jdbcType="VARCHAR" />
    <result column="functiontemp8" property="functiontemp8" jdbcType="VARCHAR" />
    <result column="functiontemp9" property="functiontemp9" jdbcType="VARCHAR" />
    <result column="functiontemp10" property="functiontemp10" jdbcType="VARCHAR" />
    <result column="functiontemp11" property="functiontemp11" jdbcType="DATE" />
    <result column="functiontemp12" property="functiontemp12" jdbcType="DATE" />
    <result column="functiontemp13" property="functiontemp13" jdbcType="DATE" />
    <result column="functiontemp14" property="functiontemp14" jdbcType="DATE" />
    <result column="functiontemp15" property="functiontemp15" jdbcType="DATE" />
    <result column="functiontemp16" property="functiontemp16" jdbcType="INTEGER" />
    <result column="functiontemp17" property="functiontemp17" jdbcType="INTEGER" />
    <result column="functiontemp18" property="functiontemp18" jdbcType="INTEGER" />
    <result column="functiontemp19" property="functiontemp19" jdbcType="INTEGER" />
    <result column="functiontemp20" property="functiontemp20" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pid, functionname, functionurl, miaoshu, functiontubiao, shouyelujing, beijingyanse, 
    functiontemp1, functiontemp2, functiontemp3, functiontemp4, functiontemp5, functiontemp6, 
    functiontemp7, functiontemp8, functiontemp9, functiontemp10, functiontemp11, functiontemp12, 
    functiontemp13, functiontemp14, functiontemp15, functiontemp16, functiontemp17, functiontemp18, 
    functiontemp19, functiontemp20
  </sql>
    <!-- *********************************** -->
  <select id="getListFunction" parameterType="map" resultMap="BaseResultMap">
  		 select  y1.id id, y2.functionname functiontemp1, y1.functionname functionname, y1.functionurl functionurl,
  		 y1.miaoshu miaoshu, y1.functiontubiao functiontubiao, y1.shouyelujing shouyelujing,
  		  y1.beijingyanse beijingyanse  from yy_function y1 left join yy_function y2 
  		  on y1.pid=y2.id where 1=1  
  		 <!--  select * from yy_function where 1=1  -->
  		<if test="searchtext != null and searchtext != '' " >
	    and (y2.functionname like '%${searchtext}%' or y1.pid like '%${searchtext}%' 
	    or y1.functionurl like '%${searchtext}%'  or y1.functiontubiao like '%${searchtext}%' 
	    or y1.beijingyanse like '%${searchtext}%'  or y1.id like '%${searchtext}%'
	     or y1.functionname like '%${searchtext}%')
    	</if>
    	
  </select>
   <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yy_function 
  </select>
  <select id="getAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yy_function group by functionname
  </select>
  <select id="allTreeNodeByUser"  resultMap="BaseResultMap"  parameterType="java.lang.Integer">
 	select 
	fun.* 
	 from yy_function fun LEFT JOIN yy_rolefunction rolefun 
 	on fun.id=rolefun.function_id where rolefun.role_id=#{roleid,jdbcType=INTEGER}
  </select>
  <!-- *********************************** -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select y1.*,y2.functionname functiontemp1
    
    from yy_function y1 left join yy_function y2 on y1.pid=y2.id
    where y1.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from yy_function
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.netsdar.hospital.entity.YYFunction" >
    insert into yy_function (id, pid, functionname, 
      functionurl, miaoshu, functiontubiao, 
      shouyelujing, beijingyanse, functiontemp1, 
      functiontemp2, functiontemp3, functiontemp4, 
      functiontemp5, functiontemp6, functiontemp7, 
      functiontemp8, functiontemp9, functiontemp10, 
      functiontemp11, functiontemp12, functiontemp13, 
      functiontemp14, functiontemp15, functiontemp16, 
      functiontemp17, functiontemp18, functiontemp19, 
      functiontemp20)
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{functionname,jdbcType=VARCHAR}, 
      #{functionurl,jdbcType=VARCHAR}, #{miaoshu,jdbcType=VARCHAR}, #{functiontubiao,jdbcType=VARCHAR}, 
      #{shouyelujing,jdbcType=VARCHAR}, #{beijingyanse,jdbcType=VARCHAR}, #{functiontemp1,jdbcType=VARCHAR}, 
      #{functiontemp2,jdbcType=VARCHAR}, #{functiontemp3,jdbcType=VARCHAR}, #{functiontemp4,jdbcType=VARCHAR}, 
      #{functiontemp5,jdbcType=VARCHAR}, #{functiontemp6,jdbcType=VARCHAR}, #{functiontemp7,jdbcType=VARCHAR}, 
      #{functiontemp8,jdbcType=VARCHAR}, #{functiontemp9,jdbcType=VARCHAR}, #{functiontemp10,jdbcType=VARCHAR}, 
      #{functiontemp11,jdbcType=DATE}, #{functiontemp12,jdbcType=DATE}, #{functiontemp13,jdbcType=DATE}, 
      #{functiontemp14,jdbcType=DATE}, #{functiontemp15,jdbcType=DATE}, #{functiontemp16,jdbcType=INTEGER}, 
      #{functiontemp17,jdbcType=INTEGER}, #{functiontemp18,jdbcType=INTEGER}, #{functiontemp19,jdbcType=INTEGER}, 
      #{functiontemp20,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.netsdar.hospital.entity.YYFunction" >
    insert into yy_function
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="functionname != null" >
        functionname,
      </if>
      <if test="functionurl != null" >
        functionurl,
      </if>
      <if test="miaoshu != null" >
        miaoshu,
      </if>
      <if test="functiontubiao != null" >
        functiontubiao,
      </if>
      <if test="shouyelujing != null" >
        shouyelujing,
      </if>
      <if test="beijingyanse != null" >
        beijingyanse,
      </if>
      <if test="functiontemp1 != null" >
        functiontemp1,
      </if>
      <if test="functiontemp2 != null" >
        functiontemp2,
      </if>
      <if test="functiontemp3 != null" >
        functiontemp3,
      </if>
      <if test="functiontemp4 != null" >
        functiontemp4,
      </if>
      <if test="functiontemp5 != null" >
        functiontemp5,
      </if>
      <if test="functiontemp6 != null" >
        functiontemp6,
      </if>
      <if test="functiontemp7 != null" >
        functiontemp7,
      </if>
      <if test="functiontemp8 != null" >
        functiontemp8,
      </if>
      <if test="functiontemp9 != null" >
        functiontemp9,
      </if>
      <if test="functiontemp10 != null" >
        functiontemp10,
      </if>
      <if test="functiontemp11 != null" >
        functiontemp11,
      </if>
      <if test="functiontemp12 != null" >
        functiontemp12,
      </if>
      <if test="functiontemp13 != null" >
        functiontemp13,
      </if>
      <if test="functiontemp14 != null" >
        functiontemp14,
      </if>
      <if test="functiontemp15 != null" >
        functiontemp15,
      </if>
      <if test="functiontemp16 != null" >
        functiontemp16,
      </if>
      <if test="functiontemp17 != null" >
        functiontemp17,
      </if>
      <if test="functiontemp18 != null" >
        functiontemp18,
      </if>
      <if test="functiontemp19 != null" >
        functiontemp19,
      </if>
      <if test="functiontemp20 != null" >
        functiontemp20,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="functionname != null" >
        #{functionname,jdbcType=VARCHAR},
      </if>
      <if test="functionurl != null" >
        #{functionurl,jdbcType=VARCHAR},
      </if>
      <if test="miaoshu != null" >
        #{miaoshu,jdbcType=VARCHAR},
      </if>
      <if test="functiontubiao != null" >
        #{functiontubiao,jdbcType=VARCHAR},
      </if>
      <if test="shouyelujing != null" >
        #{shouyelujing,jdbcType=VARCHAR},
      </if>
      <if test="beijingyanse != null" >
        #{beijingyanse,jdbcType=VARCHAR},
      </if>
      <if test="functiontemp1 != null" >
        #{functiontemp1,jdbcType=VARCHAR},
      </if>
      <if test="functiontemp2 != null" >
        #{functiontemp2,jdbcType=VARCHAR},
      </if>
      <if test="functiontemp3 != null" >
        #{functiontemp3,jdbcType=VARCHAR},
      </if>
      <if test="functiontemp4 != null" >
        #{functiontemp4,jdbcType=VARCHAR},
      </if>
      <if test="functiontemp5 != null" >
        #{functiontemp5,jdbcType=VARCHAR},
      </if>
      <if test="functiontemp6 != null" >
        #{functiontemp6,jdbcType=VARCHAR},
      </if>
      <if test="functiontemp7 != null" >
        #{functiontemp7,jdbcType=VARCHAR},
      </if>
      <if test="functiontemp8 != null" >
        #{functiontemp8,jdbcType=VARCHAR},
      </if>
      <if test="functiontemp9 != null" >
        #{functiontemp9,jdbcType=VARCHAR},
      </if>
      <if test="functiontemp10 != null" >
        #{functiontemp10,jdbcType=VARCHAR},
      </if>
      <if test="functiontemp11 != null" >
        #{functiontemp11,jdbcType=DATE},
      </if>
      <if test="functiontemp12 != null" >
        #{functiontemp12,jdbcType=DATE},
      </if>
      <if test="functiontemp13 != null" >
        #{functiontemp13,jdbcType=DATE},
      </if>
      <if test="functiontemp14 != null" >
        #{functiontemp14,jdbcType=DATE},
      </if>
      <if test="functiontemp15 != null" >
        #{functiontemp15,jdbcType=DATE},
      </if>
      <if test="functiontemp16 != null" >
        #{functiontemp16,jdbcType=INTEGER},
      </if>
      <if test="functiontemp17 != null" >
        #{functiontemp17,jdbcType=INTEGER},
      </if>
      <if test="functiontemp18 != null" >
        #{functiontemp18,jdbcType=INTEGER},
      </if>
      <if test="functiontemp19 != null" >
        #{functiontemp19,jdbcType=INTEGER},
      </if>
      <if test="functiontemp20 != null" >
        #{functiontemp20,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.netsdar.hospital.entity.YYFunction" >
    update yy_function
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="functionname != null" >
        functionname = #{functionname,jdbcType=VARCHAR},
      </if>
      <if test="functionurl != null" >
        functionurl = #{functionurl,jdbcType=VARCHAR},
      </if>
      <if test="miaoshu != null" >
        miaoshu = #{miaoshu,jdbcType=VARCHAR},
      </if>
      <if test="functiontubiao != null" >
        functiontubiao = #{functiontubiao,jdbcType=VARCHAR},
      </if>
      <if test="shouyelujing != null" >
        shouyelujing = #{shouyelujing,jdbcType=VARCHAR},
      </if>
      <if test="beijingyanse != null" >
        beijingyanse = #{beijingyanse,jdbcType=VARCHAR},
      </if>
      <if test="functiontemp1 != null" >
        functiontemp1 = #{functiontemp1,jdbcType=VARCHAR},
      </if>
      <if test="functiontemp2 != null" >
        functiontemp2 = #{functiontemp2,jdbcType=VARCHAR},
      </if>
      <if test="functiontemp3 != null" >
        functiontemp3 = #{functiontemp3,jdbcType=VARCHAR},
      </if>
      <if test="functiontemp4 != null" >
        functiontemp4 = #{functiontemp4,jdbcType=VARCHAR},
      </if>
      <if test="functiontemp5 != null" >
        functiontemp5 = #{functiontemp5,jdbcType=VARCHAR},
      </if>
      <if test="functiontemp6 != null" >
        functiontemp6 = #{functiontemp6,jdbcType=VARCHAR},
      </if>
      <if test="functiontemp7 != null" >
        functiontemp7 = #{functiontemp7,jdbcType=VARCHAR},
      </if>
      <if test="functiontemp8 != null" >
        functiontemp8 = #{functiontemp8,jdbcType=VARCHAR},
      </if>
      <if test="functiontemp9 != null" >
        functiontemp9 = #{functiontemp9,jdbcType=VARCHAR},
      </if>
      <if test="functiontemp10 != null" >
        functiontemp10 = #{functiontemp10,jdbcType=VARCHAR},
      </if>
      <if test="functiontemp11 != null" >
        functiontemp11 = #{functiontemp11,jdbcType=DATE},
      </if>
      <if test="functiontemp12 != null" >
        functiontemp12 = #{functiontemp12,jdbcType=DATE},
      </if>
      <if test="functiontemp13 != null" >
        functiontemp13 = #{functiontemp13,jdbcType=DATE},
      </if>
      <if test="functiontemp14 != null" >
        functiontemp14 = #{functiontemp14,jdbcType=DATE},
      </if>
      <if test="functiontemp15 != null" >
        functiontemp15 = #{functiontemp15,jdbcType=DATE},
      </if>
      <if test="functiontemp16 != null" >
        functiontemp16 = #{functiontemp16,jdbcType=INTEGER},
      </if>
      <if test="functiontemp17 != null" >
        functiontemp17 = #{functiontemp17,jdbcType=INTEGER},
      </if>
      <if test="functiontemp18 != null" >
        functiontemp18 = #{functiontemp18,jdbcType=INTEGER},
      </if>
      <if test="functiontemp19 != null" >
        functiontemp19 = #{functiontemp19,jdbcType=INTEGER},
      </if>
      <if test="functiontemp20 != null" >
        functiontemp20 = #{functiontemp20,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.netsdar.hospital.entity.YYFunction" >
    update yy_function
    set pid = #{pid,jdbcType=INTEGER},
      functionname = #{functionname,jdbcType=VARCHAR},
      functionurl = #{functionurl,jdbcType=VARCHAR},
      miaoshu = #{miaoshu,jdbcType=VARCHAR},
      functiontubiao = #{functiontubiao,jdbcType=VARCHAR},
      shouyelujing = #{shouyelujing,jdbcType=VARCHAR},
      beijingyanse = #{beijingyanse,jdbcType=VARCHAR},
      functiontemp1 = #{functiontemp1,jdbcType=VARCHAR},
      functiontemp2 = #{functiontemp2,jdbcType=VARCHAR},
      functiontemp3 = #{functiontemp3,jdbcType=VARCHAR},
      functiontemp4 = #{functiontemp4,jdbcType=VARCHAR},
      functiontemp5 = #{functiontemp5,jdbcType=VARCHAR},
      functiontemp6 = #{functiontemp6,jdbcType=VARCHAR},
      functiontemp7 = #{functiontemp7,jdbcType=VARCHAR},
      functiontemp8 = #{functiontemp8,jdbcType=VARCHAR},
      functiontemp9 = #{functiontemp9,jdbcType=VARCHAR},
      functiontemp10 = #{functiontemp10,jdbcType=VARCHAR},
      functiontemp11 = #{functiontemp11,jdbcType=DATE},
      functiontemp12 = #{functiontemp12,jdbcType=DATE},
      functiontemp13 = #{functiontemp13,jdbcType=DATE},
      functiontemp14 = #{functiontemp14,jdbcType=DATE},
      functiontemp15 = #{functiontemp15,jdbcType=DATE},
      functiontemp16 = #{functiontemp16,jdbcType=INTEGER},
      functiontemp17 = #{functiontemp17,jdbcType=INTEGER},
      functiontemp18 = #{functiontemp18,jdbcType=INTEGER},
      functiontemp19 = #{functiontemp19,jdbcType=INTEGER},
      functiontemp20 = #{functiontemp20,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>